DATABASE_URL = YOUR_POSTGRES_URL
DEV = true or false
GOOGLE_CLIENT_ID = YOUR_GOOGLE_OAUTH_ID
GOOGLE_CLIENT_SECRET = YOUR GOOGLE_OAUTH_SECRET
BETTER_AUTH_URL = http://localhost:3000/
NEXT_PUBLIC_APP_URL = http://localhost:3000/
