POSTGRES_URL = postgresql+psycopg://inkgrader:inkgrader@localhost:5432/inkgrader
GROQ_API_KEY = YOUR_GROQ_API_KEY
REDIS_URL = redis://localhost:6379
HF_API_KEY = YOUR_HUGGING_FACE_ACCESS_TOKEN
OCR_API_KEY = YOUR_OCR_API_KEY
